@using System.Reflection
@{
	bool ED_HABILITADO = Html.Translate("ED_HABILITADO") == "true";
	bool MA_HABILITADO = Html.Translate("MA_HABILITADO") == "true";
}
@model CMSComponentQuerySPARQL
@{
    CommunityModel Comunidad = Html.GetComunidad();
    UserIdentityModel IdentidadActual = Html.GetIdentidadActual();

    System.Data.DataTable table = Model.DataSetResult.Tables[0];
    CvUser cvUser = new CvUser(null);
	if(table.Rows.Count>0){
		cvUser = new CvUser(table.Rows[0]);
	}
    UserProfileModel perfil = Html.GetPerfil();
    Guid currentId = IdentidadActual.KeyUser;
}


@if (Model != null)
{


	<aside id="menuLateralUsuarioClonado" class="menuLateral usuario clonado" role="navigation">
        <div class="header">
            <div class="wrap-header">
                <div class="usuarioWrapper">
                    <div class="nombre">
                        <span>@cvUser.title</span> - <span>@cvUser.tituloOrg</span>
                    </div>
                </div>
                <span class="material-icons cerrar">close</span>
                <div class="cabeceraUsuario">
                    @{
                        if (!string.IsNullOrEmpty(@cvUser.foto)) 
                        {
                            <div class="imagen-usuario" style="background-image: url('@cvUser.foto')">
                            </div>
                        } else
                        {
                            <div class="imagen-usuario default" style="background-image: url('@Html.GetBaseUrlContent()/imagenes/proyectos/personalizacion/@Comunidad.Key.ToString()/theme/resources/imagenes-pre/user-male-icon.png')">
                            </div>
                        }
                    }
                    <div class="nombre-usuario">
                        <p class="nombre">@cvUser.title</p>
                        <p class="nombre-completo">
                            <span>@cvUser.tituloOrg</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="menuUsuario">
                <div class="group-collapse resultados">
                    <a href="#trabajo" data-toggle="collapse" aria-expanded="true" class="">@Html.Translate("RESULTADOS_INVESTIGACION")</a>
                    <div id="trabajo" class="collapse show" style="">
                        <ul class="pmd-sidebar-nav">
                            <li class="liPublicacion">
                                <a class="editcvPub" href="javascript: void(0);">@Html.Translate("PUBLICACIONES") <span class="numResultados">@cvUser.numPublicaciones</span></a>
                            </li>
                            <li class="liComentarios">
                                <a class="editcvPV" href="javascript: void(0);">@Html.Translate("PENDIENTE_DE_VALIDACION") <span class="numResultados">@cvUser.numPV</span></a>
                            </li>
                            <li class="liOtros">
                                <a class="editcvOR" href="javascript: void(0);">@Html.Translate("OTROS_RESULTADOS") <span class="numResultados">@cvUser.numOtrosR</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="group-collapse alertas hasCV">
                    <a href="#alertas-usuario" data-toggle="collapse" aria-expanded="true" class="">@Html.Translate("CONSULTAR")</a>
                    <div id="alertas-usuario" class="collapse show">
                        <ul class="pmd-sidebar-nav">
                            <li class="liNotificaciones nuevos">
                                @{
                                    string urlAlertas = Comunidad.Url + "/" + Html.Translate("CMS_URL_ALERTAS");
                                }
                                <a href="@urlAlertas">@Html.Translate("ALERTAS")</a>
                            </li>
                            <li class="liOtros">
                                @{
                                    string urlROs = Comunidad.Url + "/" + Html.Translate("BUSQUEDA_URL_GESTIONROS");
                                }
                                <a href="@urlROs">@Html.Translate("GESTION_ROS")</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="group-collapse curriculumvitae hasCV">
                    <a href="#curriculumvitae" data-toggle="collapse" aria-expanded="true">@Html.Translate("CURRICULUM")</a>
                    <div id="curriculumvitae" class="collapse show">
                        <ul class="pmd-sidebar-nav">
                            <li class="liOtros">
                                <a class="editcv" href="javascript: void(0);">@Html.Translate("EDITAR_CV")</a>
                            </li>
                            <li class="liAnadir">
                                @{
                                    string urlImportarCV = Comunidad.Url + "/" + Html.Translate("CMS_URL_IMPORTAR_CV");
                                }
                                <a href="@urlImportarCV">@Html.Translate("IMPORTAR_CV")</a>
                            </li>
                            <li class="liOtros">
                                @{
                                    string urlExportarCV = Comunidad.Url + "/" + Html.Translate("CMS_URL_EXPORTAR_CV");
                                }
                                <a href="@urlExportarCV">@Html.Translate("EXPORTAR_CV")</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="group-collapse redes-investigacion hasCV">
                    <a href="#redes-investigacion" data-toggle="collapse" aria-expanded="true">@Html.Translate("REDES_INVESTIGACION")</a>
                    <div id="redes-investigacion" class="collapse show">
                        <ul class="pmd-sidebar-nav">
                            <li class="liPublicacion">
                                <a href="#" onclick="PedirFuentesExternas()">@Html.Translate("RECUPERAR_ROS")</a>
                            </li>
                            <li class="liConfiguracion">
                                @{
                                    string urlRedes = Comunidad.Url + "/" + Html.Translate("CMS_URL_REDES");
                                }
                                <a href="@urlRedes">@Html.Translate("CONFIGURACION")</a>
                            </li>
                        </ul>
                    </div>
                </div>

                @if(MA_HABILITADO){
                    <div class="group-collapse cluster  hasCV">
                        <a href="#cluster" data-toggle="collapse" aria-expanded="true">@Html.Translate("GESTION_CLUSTERS")</a>
                        <div id="cluster" class="collapse show">
                            <ul class="pmd-sidebar-nav">
                                <li class="liCluster">
                                    @{
                                        string urlListadoCluster = Comunidad.Url + "/" + Html.Translate("CMS_URL_CLUSTER");
                                    }
                                    <a href="@urlListadoCluster">@Html.Translate("LISTADO_CLUSTERS")</a>
                                </li>
                                <li class="liCluster">
                                    @{
                                        string urlNuevoCluster = Comunidad.Url + "/" + Html.Translate("CMS_URL_NUEVO_CLUSTER");
                                    }
                                    <a href="@urlNuevoCluster">@Html.Translate("NUEVO_CLUSTER")</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
                <div class="group-collapse anotaciones  hasCV">
                    <a href="#gestion-anotaciones" data-toggle="collapse" aria-expanded="true">@Html.Translate("GESTION_ANOTACIONES")</a>
                    <div id="gestion-anotaciones" class="collapse show">
                        <ul class="pmd-sidebar-nav">
                            <li class="liComentarios">
                                @{
                                    string urlListadoAnotaciones = Comunidad.Url + "/" + Html.Translate("BUSQUEDA_URL_ANOTACIONES");
                                }
                                <a href="@urlListadoAnotaciones">@Html.Translate("LISTADO_ANOTACIONES")</a>
                            </li>
                        </ul>
                    </div>
                </div>
                @if(MA_HABILITADO){
                    <div class="group-collapse indicadores-personales hasCV">
                        <a href="#indicadores-personales" data-toggle="collapse" aria-expanded="true">@Html.Translate("INDICADORES")</a>
                        <div id="indicadores-personales" class="collapse show">
                            <ul class="pmd-sidebar-nav">
                                <li class="liIndicadores">
                                    @{
                                        string urlIndicadoresPersonales = Comunidad.Url + "/" + Html.Translate("CMS_URL_INDICADORES_PERSONALES");
                                    }
                                    <a href="@urlIndicadoresPersonales">@Html.Translate("MIS_INDICADORES")</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="group-collapse oferta-tecnologica hasCV">
                        <a href="#oferta-tecnologica" data-toggle="collapse" aria-expanded="true">@Html.Translate("OFERTAS_TECNOLOGICAS")</a>
                        <div id="oferta-tecnologica" class="collapse show">
                            <ul class="pmd-sidebar-nav">
                                <li class="liOffer">
                                    @{
                                        string urlCrearOfertaTecnologica = Comunidad.Url + "/" + Html.Translate("CMS_URL_NUEVA_OFERTA_TECNOLOGICA");
                                    }
                                    <a href="@urlCrearOfertaTecnologica">@Html.Translate("NUEVA_OFERTA_TECNOLOGICA")</a>
                                </li>
                                <li class="liOffer">
                                    @{
                                        string urlMisOfertasTecnologicas = Comunidad.Url + "/" + Html.Translate("CMS_URL_OFERTA");
                                    }
                                    <a href="@urlMisOfertasTecnologicas">@Html.Translate("MIS_OFERTAS_TECNOLOGICAS")</a>
                                </li>
                                <li class="liOffer d-none" id="menu_ed_is_otri">
                                    @{
                                        string urlOfertasTecnologicasOtri = Comunidad.Url + "/" + Html.Translate("CMS_URL_GESTION_OFERTA_TECNOLOGICA");
                                    }
                                    <a href="@urlOfertasTecnologicasOtri">@Html.Translate("GESTIONAR_OFERTA_TECNOLOGICA")</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
                <div class="group-collapse desconectar">
                    <div id="desconectar-usuario" class="collapse show">
                        <ul class="pmd-sidebar-nav">
                            <li>
                                <a href="@Html.GetUrlLogout()" class="desconectar-usuario bold">@Html.GetText("MENU", "SALIR")</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </aside>
}




@functions
{
    public class CvUser
    {
        public string id { get; set; }
        public string title { get; set; }
        public string tituloOrg { get; set; }
        public string foto { get; set; }
        public int numPublicaciones { get; set; }
        public int numPV { get; set; }
        public int numOtrosR { get; set; }

        public CvUser()
        {
            id = "";
            title = "";
            tituloOrg = "";
            foto = "";
            numPublicaciones = 0;
            numPV = 0;
            numOtrosR = 0;
        }

        public CvUser(System.Data.DataRow fila)
        {
			if(fila!=null)
			{
				this.id = fila["s"].ToString();
				if (!fila.IsNull("name"))
				{
					this.title = fila["name"].ToString();
				}			
				if (!fila.IsNull("foto"))
				{
					this.foto = fila["foto"].ToString();
				}
				if (!fila.IsNull("tituloOrg"))
				{
					this.tituloOrg = fila["tituloOrg"].ToString();
				}
				if (!fila.IsNull("numPublicaciones"))
				{
					this.numPublicaciones = int.Parse( fila["numPublicaciones"].ToString());
				}
				if (!fila.IsNull("numPublicacionesPV"))
				{
					this.numPV = int.Parse( fila["numPublicacionesPV"].ToString());
				}
				if (!fila.IsNull("numRO"))
				{
					this.numOtrosR = int.Parse( fila["numRO"].ToString());
				}
			}
        }
    }
}
