@*[security|||shared/_cabecera.cshtml|||hercules]*@
@if (Html.GetComunidad() != null)
{
    <header id="header" class="background-primario texto-blanco">
        @{
            HeaderModel cabecera = Html.GetCabecera();
            UserProfileModel perfil = Html.GetPerfil();
            CommunityModel Comunidad = Html.GetComunidad();
            UserIdentityModel IdentidadActual = Html.GetIdentidadActual();
            CommunityModel.PermissionsModel permisosComunidad = Comunidad.Permissions;
        }
        <div class="container-fluid">

            <div class="row upper-row">

                <div class="col col01">
                    <div class="menu-logo-wrapper">

                        @*<div class="menu-toggle">
                            <a href="javascript: void(0);" data-target="menuLateral" id="menuLateralTrigger" class="texto-blanco">
                                <span class="material-icons">apps</span>
                            </a>
                        </div>*@
                        
                        <div class="logo-wrapper">
                            <a href="@Comunidad.Url" class="texto-blanco">
                                Hércules
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col col02">
                    <div class="col-buscador">
                        <form method="post" id="formBuscador">
                            <div class="fieldsetGroup">
                                <input type="hidden" value="ub_MyGNOSSMeta@http://devsare.gnoss.com/es/busqueda?search=" class="inpt_tipo_busqueda">
                                <input type="hidden" value="ub_824509ea-0e22-4aa3-b6a0-65a69cdd571c@http://devsare.gnoss.com/es/recursos?search=" class="inpt_tipo_busqueda">
                                <input type="hidden" value="ub_02a9baf9-2991-4128-a479-aa8492858e95@http://devsare.gnoss.com/es/foro?search=" class="inpt_tipo_busqueda">
                                <input type="hidden" value="ub_68760789-604d-4e8b-8acf-149c80fa1c8a@http://devsare.gnoss.com/es/personas-y-organizaciones?search=" class="inpt_tipo_busqueda">
                                <input type="hidden" value="ub_f016bc87-668c-4c3d-9b10-5c1fe650f104@http://devsare.gnoss.com/es/FAQ?search=" class="inpt_tipo_busqueda">
                                <input type="hidden" value="oa_824509ea-0e22-4aa3-b6a0-65a69cdd571c@baliabideak@eu|||recursos@es|||resources@en|||recursos@pt|||recursos@ca|||recursos@gl|||ressources@fr|||ressourcen@de|||risorse@it|||" class="inpt_OrigenAutocompletar">
                                <input type="hidden" value="oa_02a9baf9-2991-4128-a479-aa8492858e95@foroa@eu|||foro@es|||forum@en|||forum@pt|||forum@ca|||foro@gl|||forum@fr|||forum@de|||forum@it|||" class="inpt_OrigenAutocompletar">
                                <input type="hidden" value="oa_68760789-604d-4e8b-8acf-149c80fa1c8a@PerYOrg" class="inpt_OrigenAutocompletar">
                                <input type="hidden" value="oa_f016bc87-668c-4c3d-9b10-5c1fe650f104@FAQ@eu|||FAQ@es|||FAQ@en|||FAQ@pt|||FAQ@ca|||FAQ@gl|||FAQ@fr|||FAQ@de|||FAQ@it|||" class="inpt_OrigenAutocompletar">
                            </div>
                            <div class="fieldsetGroup searchGroup">
                                <div class="textoBusquedaPrincipalInput">
                                    <input type="text" id="txtBusquedaPrincipal" class="not-outline text txtBusqueda autocompletar personalizado ac_input" placeholder="@Html.Translate("PLACEHOLDER_METABUSCADOR")" autocomplete="off">
                                    <span class="botonSearch">
                                        <span class="material-icons">search</span>
                                    </span>
                                </div>
                                <span class="material-icons cerrar">close</span>
                            </div>
                            <input type="submit" style="display: none;" id="enviarFormBuscador" value="enviar" title="enviar">
                        </form>
                    </div>
                </div>
                <div class="col col03">
                    <ul>
                        <!-- Comprueba en que sesión está el usuario -->
                        @if (IdentidadActual.IsGuestUser)
                        {
                            <!-- <li class="iniciar-sesion">
                                <a href="@Comunidad.Url/login" class="texto-blanco">@Html.GetText("COMMON", "INICIARSESION")</a>
                            </li> -->

                            <li class="usuario guser">
                                <div id="navegacionClonado" class="navegacion clonado">
                                    <ul class="pmd-sidebar-nav" data-url="@Html.GetBaseUrl()@Html.GetUrlPagina()">
                                        @{
                                            string urlIndicadores=Comunidad.Url+"/"+Html.Translate("URL_PAGINA_INDICADORES");
                                        }
                                        <li class="liIndicadores">
                                            <a href="@urlIndicadores">
                                                <span class="text">@Html.Translate("INDICADORES")</span>
                                                <span class="material-icons">bar_chart</span>
                                            </a>
                                        </li>
                                        <li class="liInicio">
                                            <a href="@Comunidad.Url/login">@Html.GetText("COMMON", "INICIARSESION")</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="buscar">
                                <a href="javascript: void(0);" class="texto-blanco">
                                    <span class="material-icons">search</span>
                                </a>
                            </li>

                        }
                        else {
                            
                            <li class="usuario">
                                <div id="navegacionClonado" class="navegacion clonado">
                                    <ul class="pmd-sidebar-nav" data-url="@Html.GetBaseUrl()@Html.GetUrlPagina()">
                                        <li class="liInicio @if (Comunidad.Url == (Html.GetBaseUrl() + Html.GetUrlPagina()) ){ Html.Raw("active"); }">
                                            <a href="@Comunidad.Url">@Html.Translate("INICIO")</a>
                                        </li>
                                        @{
                                            string urlIndicadores=Comunidad.Url+"/"+Html.Translate("URL_PAGINA_INDICADORES");
                                        }
                                        <li class="liIndicadores">
                                            <a href="@urlIndicadores">
                                                <span class="text">@Html.Translate("INDICADORES")</span>
                                                <span class="material-icons">bar_chart</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div id ="menuLateralUsuarioTrigger" class="texto-blanco">
                                    <div class="user-miniatura">
                                        <div class="imagen-usuario-wrap">
                                            <a href="javascript: void(0);">
                                                <div class="imagen">
                                                    <span class="material-icons">person</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="nombre-usuario-wrap">
                                            <a href="javascript: void(0);">
                                                <p class="nombre">@perfil.Name</p>
                                                <p class="nombre-completo"></p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>                           
                            <li class="buscar">
                                <a href="javascript: void(0);" class="texto-blanco">
                                    <span class="material-icons">search</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="row community-row" id="navegacion-recurso-fixed">
                <div class="container community-menu-wrapper">
                    <a href="javascript: void(0);" data-target="menuLateralComunidad" id="menuLateralComunidadTrigger" class=" texto-blanco">
                        <span class="material-icons">menu</span>
                    </a>
                    <div class="page-name-wrapper">
                        <span class='page-name'>Hercules</span>
                    </div>
                    <div id="community-menu" class="">
                        <ul class="">
                            @foreach (CommunityModel.TabModel pPestanya in Comunidad.Tabs)
                            {
                                string activo = "";
                                if (pPestanya.Active)
                                {
                                    activo = "class=\"active\"";
                                }
                                string searchSword = "/buscador-";
                                string url = pPestanya.Url;
                                if (url.Contains(searchSword))
                                {
                                    <li @Html.Raw(activo)>
                                        <a href="@url">@pPestanya.Name</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
}